<form class="column" action="/" method="POST">
    <label for="input">Converter</label>
    <div class="row">
        <input type="text" name="input" placeholder="3kg" id="convertField">
        <button class="btn btn-primary" type="submit">Convert!</button>
    </div>

</form>