<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metric-Imperial Converter</title>
    <link rel="stylesheet" href="style.css">
</head>

<body class="grid two">
    <nav>
        <ul>Metric Units
            <li>kilometer - km</li>
            <li>liter - l</li>
            <li>kilogram - kg</li>
        </ul>
        <ul>Imperial Units
            <li>mile - mi</li>
            <li>gallon - gal</li>
            <li>pound - lbs</li>
        </ul>
    </nav>
    <main>
        <header>
            <h1>Metric/Imperial Converter</h1>
        </header>
        <%- body %>
        <%- include('./partials/result.ejs') %>
        <%- include('./partials/errorMessage.ejs') %>
        <footer>
            footer
        </footer>
    </main>
</body>

</html>